{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<table class='table table-striped' id='dt_movietable'>
	<thead>
		<tr>
			<th>Title</th>
<!-- 			<th>Year</th> -->
			<th>Medium</th>
			<th>Loaned to</th>
		</tr>
	</thead>
	<thead>
		<tr>
			<th><input style='width:100%;'/></th>
			<!-- <th><input style='width:100%;'/></th> -->
			<th><input style='width:100%;'/></th>
			<th><input style='width:100%;'/></th>
		</tr>
	</thead>
	<tbody>
	{% for movie in movies %}
		<tr>
			<td><a href="movie/{{movie.index}}">{{movie.Title}}</a></td>
			<!-- <td><a href="movie/{{movie.index}}">{{movie.Year}}</a></td> -->
			<td><a href="movie/{{movie.index}}">{{movie.Medium}}</a></td>
			<td><a href="movie/{{movie.index}}">{{movie.Loaned}}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
