{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
	<h3>Missing {{ numProblemFields }} fields from {{ numProblemMovies }} Movies</h3>
	Checking fields: {% for field in neededFields %}{% if not loop.first %}, {% endif %}{{ field }}{% endfor %}
	<table>
		<tbody valign="top">
			{% for movie in movieData %}
			<tr>
				<td><a href="{{ url_for('show_movie', movieId=movie.index) }}">{{ movie.name }}</a></td>
				<td>{% for field in movie.missingFields %}{% if not loop.first %}, {% endif %}{{ field }}{% endfor %}</td>
				<td><a href="{{ url_for('search_imdb_name', token=movie.name) }}">IMDB</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
